/.deps
/Makefile
/camera.o
/config_file.c
/config_file.o
/dispatch.c
/dispatch.o
/event.c
/event.o
/guile.c
/guile.o
/guile_camera.o
/guile_global_event.o
/guile_load.c
/guile_load.o
/guile_mob.o
/guile_text.o
/guile_tile.o
/guile_window.o
/imagestack.c
/imagestack.o
/main.o
/mobs.c
/mobs.o
/path.o
/rpge
/sequence.c
/sequence.o
/text.c
/text.o
/tile.c
/tile.o
/video.o
/window.c
/window.o
