/.deps
/Makefile
/camera.o
/config_file.o
/dispatch.o
/event.o
/guile.o
/guile_camera.o
/guile_global_event.o
/guile_load.o
/guile_mob.o
/guile_text.o
/guile_tile.o
/guile_window.o
/imagestack.o
/main.o
/mobs.o
/path.o
/rpge
/sequence.o
/text.o
/tile.o
/video.o
/window.o
